body {
    background-color: #f0f8ff; /* Light blue background */
    color: #333;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #f7f8f9; /* Blue navbar */
}

.navbar-nav .nav-item {
    margin-right: 20px; /* Add spacing between nav items */
}

.navbar-brand, .nav-link {
    color: #3006e9 !important;
    font-weight: bold;
    font-size: 1.1em;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.container {
    margin-top: 20px;
}

h2 {
    color: #007bff; /* Blue headings */
}

h3 {
    color: #dc3545; /* Red subheadings */
}

.form-control, .form-control-lg {
    border: 1px solid #007bff;
}

.form-control:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes .success {
    background-color: #d4edda;
    color: #155724;
}

.flashes .danger {
    background-color: #f8d7da;
    color: #721c24;
}

.flashes .warning {
    background-color: #fff3cd;
    color: #856404;
}

.timetable .day{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}


.timetable .meal {
    margin-bottom: 10px;
}

h3, h4 {
    margin: 0 0 10px;
}